ul, li, p {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listWrap {
    font-family: 'Interpark', sans-serif;
    margin-bottom: 20px;
}

.listWrap .qa_li {
    position: relative;
    display: block;
    padding: 0;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
}

.listWrap .qa_li .ca_name {
    margin-bottom: 14px;
    font-weight: 400;
    color: #999;
    font-size: 18px;
}

.listWrap .qa_li .tit {
    color: #222;
    font-size: 20px;
    transition: color 0.3s ease-out;
}

.listWrap .qa_li:hover .tit {
    color: #0a7ac8;
}

.qa_li .question {
    position: relative;
    display: block;
    padding: 25px 10px 25px 30px;
}

.qa_li .question .iconDiv {
    position: absolute;
    right: 40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.qa_li .answer {
    position: relative;
    display: none;
    padding: 40px 50px;
    font-size: 16px;
    color: #222;
    line-height: 28px;
    border-top: 1px solid #e4e4e4;
}

.modA {
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: #e82b2b;
}